@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    max-width: 100%;
    max-height: max-content;
    overflow-x: hidden;
}
body {
    position: relative;
    /*overflow-y: hidden;*/
}

.font{
    font-family: 'Montserrat', sans-serif;
}
.name{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
    color: rgba(0,0,0,.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.Home{
    /*width: -webkit-fill-available;*/
    max-width: 100%;
    height: 100vh;
}

.background{
    position: absolute;
    z-index: -1;
    width: 100vw;
    left: 0;
    filter: opacity(0.1);
}

.plus{
    z-index: 1;
    position: absolute;
    bottom: 5vh;
    width: fit-content;
    right: 5vw;
}
.plus:hover{
    cursor: pointer;
}
.addIcon{
    width: 30px;
    height: 30px;
    margin: auto auto 5px auto;
    display: block;
    border-radius: 50%;
}
.addIcon:hover{
    -webkit-box-shadow: -4px 4px 5px 0px rgba(21,42,101,0.64);
    -moz-box-shadow: -4px 4px 5px 0px rgba(21,42,101,0.64);
    box-shadow: -4px 4px 5px 0px rgba(21,42,101,0.64);
    cursor: pointer;
}
.register{
    width: min-content;
    text-align: center;
    font-size: 7px;
    color: #152b65;
    font-family: 'Montserrat', sans-serif;
}

.icon{
    z-index: 1;
    position: relative;
    top: 15vh;
    margin: auto;
    display: block;
    width: fit-content;
    margin-bottom: 7vh;
}
.logo{
    width: 119px;
    height: 119px;
    margin: auto;
    display: block;
}
.title{
    font-size: 28px;
    color: #47525E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.menu{
    display: block;
    width: 100%;
    position: relative;
    top: 19vh;
    margin-left: auto;
    margin-right: auto;
}

.order{
    flex-wrap: nowrap;
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.Option{
    background-color: white;
    /*width: fit-content;
    display: inline-block;
    position: absolute;*/
    border-radius: 35px;
    border: 3px solid #152b65;
    padding: 1.5vw 1.5vw 0 1.5vw;
    margin: auto;
}
.Option:hover{
    -webkit-box-shadow: -8px 8px 5px 0px rgba(21,42,101,0.64);
    -moz-box-shadow: -8px 8px 5px 0px rgba(21,42,101,0.64);
    box-shadow: -8px 8px 5px 0px rgba(21,42,101,0.64);
    cursor: pointer;
    text-decoration: none;
}
.imageOption{
    height: 11vw;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nameOption{
    font-size: 20px;
    margin-top: 4vh;
    color: #152b65;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    width: 152px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.bola{
    z-index: -1;
    position: absolute;
    /*background-color: ##E3EAFA;*/
    background-color: #E3EAFA;
    width: 48vw;
    height: 48vw;
    /*width: 693px;
    height: 693px;*/
    border-radius: 50%;
}
.bola1{
    left: -19vw;
    top: -538px;
}
.bola2{
    left: 10vw;
    top: -449px;
}
.bola3{
    left: 46vw;
    top: -386px;
}
.bola4{
    left: 71vw;
    top: -449px;
}

.up{
    display: none;
}
.down{
    display: none;
}

@media only screen and (max-width: 500px) {
    body{
        overflow-y: scroll;
    }

    .background{
        display: none;
    }

    .bola1{
        display: none;
    }
    .bola2{
        left: -6vw;
        top: -65px;
        width: 71vw;
        height: 53vw;
    }
    .bola3{
        left: 47vw;
        top: -35px;
        width: 62vw;
        height: 58vw;
    }
    .bola4{
        display: none;
    }

    .icon{
        top: 9vh;
    }
    .logo{
        width: 36vw;
        height: 36vw;
    }
    .title{
        font-size: 6.3vw;
        text-align: center;
    }

    .order{
        width: 100%;
        flex-direction: column;
    }

    .menu{
        width: 90%;
        top: 8vh;
        margin-right: auto;
        margin-left: auto;
        display: block;

    }
    .titlemenu{
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        text-align: center;
        margin-bottom: 7vh;
    }

    .Option{
        height: fit-content;
        width: 100%;
        display: block;
        margin-bottom: 5vh;
        background-color: #152b65;
        padding: 0;
    }
    .imageOption{
        width: 40%;
        height: 100%;
        margin: 0; 
        display: inline-block;
        border-radius: 35px;
    }
    .bName{
        display: inline-block;
        width: 60%;
    }
    .nameOption{
        font-size: 5vw;
        color: #ffffff;
        font-weight: 500;
        display: block;
        margin: 0 auto 0 auto;
        position: relative;
        width: min-content;
        top: 1.6vh;
    }

    .page{
        display: none;
    }
    .up{
        width: fit-content;
    }
    .down{
        width: fit-content;
    }

    .plus{
        bottom: -20vh;
        right: 5vw;
    }
    @media only screen and (height: 823px) and (width: 411px){
        .plus{
            bottom: -10vh;
        }
    }    
    .addIcon{
        width: 7.3vw;
        height: 7.3vw;
    }
}

@media only screen and (max-width: 376px) {
    .plus{
        bottom: -25vh;
    }
    @media only screen and (height: 812px) and (width: 375px){
        .plus{
            bottom: -6vh;
        }
    } 
}