@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    position: relative;
    overflow-y: hidden;
}

.TitleNav{
    color: white;
    margin-left: 15px;
    text-align: center;
}

.Home{
    max-width: 100%;
    height: 100vh;
}

.bola{
    position: absolute;
    /*background-color: ##E3EAFA;*/
    background-color: #E3EAFA;
    width: 48vw;
    height: 48vw;
    /*width: 693px;
    height: 693px;*/
    border-radius: 50%;
}
.bola1{
    left: -19vw;
    top: -453px;
}
.bola2{
    left: 8vw;
    top: -340px;
}
.bola3{
    left: 47vw;
    top: -265px;
}
.bola4{
    left: 66vw;
    top: -425px;
}

@media only screen and (max-width: 500px) {
    .bola1{
        display: none;
    }
    .bola2{
        left: -35vw;
        top: -125px;
        width: 110vw;
        height: 110vw;
    }
    .bola3{
        left: 47vw;
        top: -38px;
        width: 110vw;
        height: 110vw;
    }
    .bola4{
        display: none;
    }
}

.icon{
    z-index: 1;
    position: relative;
    top: 227px;
    width: fit-content;
    margin: auto;
}
.logo{
    width: 148px;
    height: 148px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.title{
    font-size: 34px;
    color: #47525e;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.button{
    background-color: #152b65;
    height: 57px;
    width: 256px;
    position: relative;
    top: 260px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border-radius: 47px;
    text-align: center;
}
.button:hover{
    background-color: #0f1f4b;
    cursor: pointer;
}
.buttonTitle{
    color: #FFFFFF;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 13px;
}
.buttonTitle:hover{
    color: rgb(219, 218, 218);
}